<%-include('./inc/header');%>

<div class="content-body">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-title">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-4">
                            <div class="page-title-content">
                                <h3>CashApp Request</h3>
                                <p class="mb-2">Welcome to HeatKings</p>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="breadcrumbs"><a href="#">CashApp </a><span><i class="ri-arrow-right-s-line"></i></span><a href="#">Pending Request</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-12">
                <div class="settings-menu">
                    <a href="/cashapp" class="active">Pending(<%=cashapp_request.length%>)</a>
                    <a href="/cashapp_completed">Completed(<%=cashapp_completed%>)</a>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">CashApp Pending Request </h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive api-table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                               <th>Sr.</th>
                                               <th>Name</th>
                                               <th>Email</th>
                                               <th>Description</th>
                                               <th>Total Price</th>
                                               <th>Status</th>
                                            </tr>
                                         </thead>
                                         <tbody>
                                             <%cashapp_request.forEach(function(cashapp,index){%>
                                                 <tr>
                                                     <td><%=index+1%></td>
                                                     <td><%=cashapp.user_name%></td>
                                                     <td><%=cashapp.user_email%></td>
                                                     <td><%=cashapp.describtion%></td>
                                                     <td>$ <%=cashapp.price%></td>
                                                     <td><a href="javascript:void(0);" onclick="changecashappstatus(<%=cashapp.id%>)">Payment Verify</a></td>
                                                 </tr>
                                            <%})%>
                                            <%if(cashapp_request.length==0){%>
                                            <tr>
                                                <td colspan="6" class="text-center">data not found</td>
                                            </tr>
                                            <%}%>
                                         </tbody>
                                     </table>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%-include('./inc/footer');%>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
function changecashappstatus(id){

            Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Proceed!'
            }).then((result) => {
            if (result.isConfirmed) {
                
            $.ajax({
                type: "POST",
                url: "<%=base_url%>admin/changecashappstatus?id="+id
                // success: function(data){window.location.reload()}      
            });
                Swal.fire({
                    title: 'Verified',
                    text:'Paymant has been verified.',
                    icon:'success',
                    }).then(function(){
                        window.location.reload()
                    })
            }
            })
       
    }
</script>
