
</div>
<script src="<%=base_url;%>admin/assets/vendor/jquery/jquery.min.js"></script>
<script src="<%=base_url;%>admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="<%=base_url;%>admin/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="<%=base_url;%>admin/assets/js/plugins/perfect-scrollbar-init.js"></script>
<script src="<%=base_url;%>admin/assets/vendor/circle-progress/circle-progress.min.js"></script>
<script src="<%=base_url;%>admin/assets/js/plugins/circle-progress-init.js"></script>
<script src="<%=base_url;%>admin/assets/js/scripts.js"></script>
</body>
</html>